body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weatherForm{
    margin: 2rem;

    
}

.cityInput{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid hsl(0, 0%, 20%,0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 6px 20px;
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(90deg, #66BB6A 0%, #29B6F6 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button[type="submit"]:hover{
background:  linear-gradient(90deg, #66BB6A 100%, #29B6F6 0%);
}

.card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%),hsl(40, 100%, 75%));
    padding: 3rem;
    border-radius: 10px;
    margin-bottom: 4rem;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;    
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay ,.tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
    /* color: rgb(252, 248, 248); */
    margin-bottom: 25px;
}

.aqiDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    opacity: 90%;
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;

}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%, 0.75);
}